@CHARSET "utf-8";

#tour-detail #detail-map {
	height: 360px;
}

#tour-detail #detail-wrapper.ui-content {
	padding: 0px;
}

#tour-detail #detail-header {
	background: url("../image/detail-header-bg.jpg") no-repeat center top;
	height: 120px;
	width: 100%;
	position: absolute;
	z-index: 9;
	opacity: 0.8;
}

#tour-detail #detail-cover-icon {
	position:absolute;
	top: 20px;
	left: 50px;
	width: 80px;
	height: 80px;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	border-radius: 80px;
	background-size: 80px 80px;
	background-image: url("../image/A-Chan-icon.png");
	border: 5px solid #fff;
}

#tour-detail #detail-cover-title {
	position: absolute;
	left: 150px;
	top: 30px;
	color: #fff;
	text-shadow: none;
}

#tour-detail .detail-cover-title {
	font-size: 20px;
}

#tour-detail .detail-cover-detail {
	font-size: 14px;
}

#tour-detail #detail-map div div a div img {
	display: none;
}

#tour-detail .gmnoprint {
	display: none;
}

#tour-detail #detail-refresh {
	z-index: 9;
	position: absolute;
	left:70px;
	top: 330px;
	cursor: pointer;
}

#tour-detail #detail-line {
	position: absolute;
	z-index: 9;
	top: 370px;
	left: 90px;
	height: 100%;
	width: 5px;
	background: rgba(255, 255, 255, 0.5);
}

#tour-detail ul {
	list-style: none;
}

#tour-detail ul#path_list {
	padding-left: 0px;
}

#tour-detail ul#path_list li {
	position: relative;
	z-index: 10;
	padding-right: 0px;
	
}

#tour-detail .clearfix {
	zoom: 1;
	overflow: hidden;
}

#tour-detail .list_timeslot {
	width: 150px;
	height: 22px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 30px;
	zoom: 0.5;
	float: left;
}

#tour-detail .list_image {
	margin-top: 10px;
}

#tour-detail .list_image img.thumb {
	border: 10px solid white;
	margin-left: 20px;
	width: 215px;
}

#tour-detail .list_time_dot{
	float:left;
	background:gray;
	width: 12px;
	height:12px;
	border:3px solid white;
	margin-left:-7px;
	margin-top:17px;
	z-index:10;
	
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	
	box-shadow:         1px 1px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#tour-detail .list_moment_wrapper {
	float: left;
	position: relative;
}

#tour-detail .list_moment_wrapper span.arrow {
	z-index: 6;
	color: white;
	position: absolute;
	top: 15px;
	left: 10px;
	font-size: 20px;
}

#tour-detail .list_moment
{
	z-index: 6;
	float:left;
	background:white;
	
	padding:10px;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:18px;
	margin-right:0px;
	width:280px;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 20px!important;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	box-shadow:         1px 1px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    1px 1px 1px 1px rgba(0, 0, 0, 0.1);
	
	text-shadow:2px 2px rgba( 0 , 0 , 0 , 0.1 );
}

#tour-detail .list_moment hr {
	color: #ccc;
}

#tour-detail #more_button {
	background: white;
	margin-top: 20px;
	margin-left: 100px;
	padding: 10px;
	width: 180px;
	margin-bottom: 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
}

#tour-detail .go-to-detail {
	background: url("../image/goto.png") no-repeat;
}